// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
// @import '~font-awesome/scss/font-awesome';

a {
    text-decoration: none !important;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}

.sidebar {
    width: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.results-wrapper {
    max-height: calc(100vh - 170px); 
    overflow-y: scroll; 
    margin:0;
    padding:0;
}

.cursor-pointer {
    cursor: pointer;
}

.card, #map {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba($black, 0.2);
}

.loader {
    border: 10px solid $gray-100;
    border-top: 10px solid $primary;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: auto; 
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

.item {
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 0.5px;
}

.borderless td, .borderless th {
    border: none;
}

.item.active {
    background-color: rgba($success, 0.1);
    border-color: #08AF00;
}

.search-info {
    display: inline-flex;
}