// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.cursor-pointer {
    cursor: pointer;
}

.item {
    &:hover {
        background-color: rgba($black, 0.2);
    }
}

.card, #map {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

h5 {
	margin: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
